body{
    background-color: #454545 !important;
}

.navbar-brand img{
    width: 30px;
    height: auto;
    filter: invert(0.2);
}

.navbar-brand span{
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

