body{
    background-color: #616161 !important;
}

.navbar-brand img{
    width: 30px;
    height: auto;
}

.navbar-brand span{
    color:orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.barra-lateral{
    margin-top: 10%;
    height: 500px;
    width: 200px;
    padding: 10px;
}

#lateral h1{
    color:white;
    font-size: 20px;
    font-family:impact;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
